<div *ngIf="listaEspecialidade.length > 0; else semEspecialidade">
  <div *ngFor="let especialidade of listaEspecialidade">
    Id: {{ especialidade.cdEspecialidade }}
    Nome: {{ especialidade.nome }}
    <div routerLink="/especialidade/excluirEspecialidade/{{ especialidade.cdEspecialidade }}"><b>X</b></div>
  </div>
</div>
<ng-template #semEspecialidade>
  <div>
    Não há especialidades cadastradas
  </div>
</ng-template>
<button (click)="criarEspecialidade1()">Adicionar nova especialidade</button>
