<header class="app-header">
  <mat-toolbar>
    <!-- <button mat-icon-button (click)="sidenav.toggle()" matTooltip="Menu">
      <mat-icon>menu</mat-icon>
    </button> -->
    <img src="assets/imagens/logo.png" alt="Logo da aplicação GST" />
    <span class="spacer"></span>
    <button mat-button>Vender milhas</button>
    <button mat-button>Sobre</button>
    <ng-container *ngIf="user$ | async as Usuario, else login">
      <a routerLink="/dashboard">
        <img src="assets/icones/user.png" alt="Ícone da pessoa usuária">
      </a>
      <button mat-stroked-button (click)="logout()">SAIR</button>
    </ng-container>
    <ng-template #login>
      <button mat-raised-button color="primary">CADASTRE-SE</button>
      <button routerLink="/login" mat-stroked-button>LOGIN</button>
    </ng-template>
  </mat-toolbar>
</header>

